{% for error in form.errors %}
  <div class="alert alert-danger">
    {% if error == 'form' %}
      {{ form.errors.messages[error] | capitalize }}
    {% else %}
      {{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}
    {% endif %}
  </div>
{% endfor %}
