<div class="container my-5">
  <h1 class="lead">Reset Password</h1>

  <div class="row">
    {% form 'reset_customer_password' %}
      {% include 'form-errors', form: form %}

      <div class="col-12">
        <label for="activatePassword1" class="form-label">Password</label>
        <input type="password" name="customer[password]" id="activatePassword1" class="form-control">
      </div>

      <div class="col-12">
        <label for="activatePassword2" class="form-label">Confirm Password</label>
        <input type="password" name="customer[password_confirmation]" id="activatePassword2" class="form-control">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 rounded-0">Reset Password</button>
      </div>
    {% endform %}
  </div>
</div>
